* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px; 
}

body {
<<<<<<< HEAD
    background-color: burlywood;
=======
    background-color: lightblue;
>>>>>>> bd2dbb5513e49150ed28a8f5f44fd91ae978b2c8
}

h1 {
    color: black;
    text-align: center;
}

#MembersName {
    font-size: 12px;
    color: grey;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
}

p {
    margin-left:20px;
}

@media (min-width: 598px) {
    * {
        font-size: 12px;
    }

    img {
        width: 50%;
    }
}
