.navbar-brand {
    font-size: 20px;
    color: whitesmoke;
}

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke !important;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: whitesmoke; */
    color: navy;
    font-weight: bold;
}

a {
    color: navy;
    font-weight: bold;
}

/*hide the navigation labels when screen is small*/

.nav-label{
    display: none;
}

.fa {
    padding: 10px;
    font-size: 400%;
    size: 4.0rem;
}

p, h3, h4, h1.navbar-brand{
    font-size: 2.0rem;
}

.card-deck {
    margin-left: 10%;
    margin-right: 10%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-light {
    background-color: darkred !important;
}

.card-header {
    color: whitesmoke;
    text-align: center;
    /* box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.card-text {
    text-align: center;
}

header {
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    color: navy;
}

img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}


h3, h2 {
    position: inherit;
}

.card-header, #mapped-cases {
    font-weight: 100;
    color: whitesmoke;
}

#mapped-cases {
    display: block;
    color: navy;
}

h4 {
    font-weight: lighter;
}

footer {
    background-color: darkred;
    color: whitesmoke;
    padding: 20px;
    margin: 0%;
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: aliceblue;
}


.vac {
    color: dimgrey;
}

.fa-stethoscope {
    color: whitesmoke;
}

.flu-shot-loc {
    color: black;
    font-weight: 500;
}

.list-of-places {
    font-size: medium;
 }


.list-of-places {
    border-image-width: inherit;
}


table {
    border-collapse: collapse;
    border: 4px lightblue;
    font: 12px sans-serif;
    width: 100%;
    margin-top: 2%;
    }

td {
    border: 1px black solid;
    padding: 5px;
                }

/* #map { 
    height: 400px;
    width: 450px;
    text-align: center;
 } */

 .leaflet-container {
     width: 100%;
     height: 400px;
 }

#list-Locations {
    align-content: center;
}
table tr:first-child {
    font-weight: bold;
    color: black;
}

section{
    padding-bottom:20% ;
}

li.breadcrumb-item, li.contact {
    display: hidden;
}

#form-chart-group {
    display: inline-flex;
}

EstimateChart {
    float: left;
}

/* for styling estimate page
.button {
    color: #fff;
    background-color: navy;
    border-color: slategray;
    border-width: 3px;
} */

button, #submitButton, input {
    background-color: aliceblue;
    border-radius: 10px;
    border-width: thin;
    /* box-shadow: 0 2px 4px 0 aliceblue; */
    color: navy;
    font-weight: bolder;
    height: 3rem;
    width: 10rem;
}

input {
    height: 2rem;
    width: 5rem;
}

form {
    text-align: center;
    padding: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

.description {
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 10px;
}

/*vaccine page specific styling*/
#flu-shot-location-words {
    color: navy;
    width: fit-content;
    position: relative;
}

#navbar {
    background-color: darkred !important;
}

.card-deck, form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

#homepage-cards {
    margin-left: 10%;
    margin-right: 10%;
}

svg {
    overflow: hidden;
    vertical-align: middle;
    margin-left: 40%;
}

.card-header {
    color: whitesmoke;
    background-color: navy;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(153, 139, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    background-color: aliceblue;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px 0 aliceblue; */
}

#card-header, #SearchCardHeader {
    background-color: navy;
}

#descriptive-paragraph {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

@media (min-width: 598px) {
    p, h4, .link-icon{
        font-size: 1.0rem;
    }

    h1.navbar-brand {
        font-size: 2.0rem;
    }

    card .fa{
        display: inline;
    }

    #mapped-cases {
        display: block;
    }

    .nav-label{
        display: inline;
        color: navy;
    }

    footer .nav-label {
        color: whitesmoke;
    }

}
section {
    padding-bottom: 20%;
}

#SearchCardHeader {
    margin-top: 1rem;
}

.MuiTableCell-root-155:last-child {
    padding: 20px;
}

#vaccine-info {
    margin:20px;
}

.InputBox {
    width: 100%;
    border:1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    color: rgba(0, 0, 0, .73);
}
 
.InputBox input {
    width: 100%;
    border:none;
    color: rgba(0, 0, 0, .73);
    margin: 0;
    padding: 8px 3px;
    box-sizing: border-box;
    outline: none;
}

.Input-Box {
    margin: 0 auto 0 auto;
    width: 80%;
}

.Input-Box ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top:1px solid grey;
}

.InputBox ul::before {
    content:"";

}

.Input-Box li {
    padding: 8px 3px;
    cursor: pointer;
}

.Input-Box li:hover {
    text-decoration: underline;
    background-color: rgb(136, 187, 233);
}

#GoButton {
    margin-top: 10px;
    width: 40%;
    background-color: navy;
    color: white;
}